:host {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: #17d6d6;
  z-index: 100;
  color: white;
}

span {
  font-size: 36pt;
  padding: 0 15px;
}
