:host {
  display: flex;
  position: fixed;
  right: 5%;
  bottom: 8%;
  z-index: 200;
  align-items: flex-end;
  justify-content: center;
}

.input-wrapper {
  padding: 1.7em 1.7em 0.8em 1.7em;
  border: 1px solid #eee;
  width: 70vw;
  margin-right: 25px;
  background-color: white;
  /* box-sizing: border-box; */
}

/* .actions-wrapper {
  position: relative;
} */

.clear-btn {
  position: relative;
  left: 56px;
}

.add-done-btn {
  z-index: 500;
}

.mat-form-field {
  max-width: 100%;
  width: 100%;
}

@media(max-width: 700px) {
  :host {
    flex-direction: column;
    align-items: flex-end;
    right: 15px;
  }

  .input-wrapper{
    margin-right: 0;
    margin-bottom: 10px;
  }
}
