<div class="input-wrapper mat-elevation-z1" [@inputState]="inputState">
  <mat-form-field appearance="outline">
    <mat-label>New Task</mat-label>
    <input matInput placeholder="Task" [(ngModel)]="newTaskName" #taskNameInput (keyup.enter)="addOrToggle()" autocomplete="false" />
  </mat-form-field>
</div>
<div class="actions-wrapper">
  <button mat-fab (click)="toggle()" color="warn" class="clear-btn" [@cancelBtnState]="inputState">
    <mat-icon>clear</mat-icon>
  </button>
  <button mat-fab (click)="addOrToggle()" color="accent" class="add-done-btn">
    <mat-icon *ngIf="inputState === 'hidden'">add</mat-icon>
    <mat-icon *ngIf="inputState === 'visible'">done</mat-icon>
  </button>
</div>
