:host {
  position: relative;
  padding: 15px 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:host > * :not(.fill-wrapper) {
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fill-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: limegreen;
  box-shadow: #eee 0 0 10px 0 inset;
  border-radius: 5px;
}

.task-name {
  margin-left: 15px;
  flex: 1 1 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.task-name-span {
  display: inline-block;
  padding: 22.25px 0;
  font-size: 16pt;
}

.mat-form-field {
  max-width: 100%;
  width: 100%;
}

.mat-input-element {
  font-size: 16pt;
}

@media (max-width: 700px) {
  .task-name {
    flex-direction: column;
  }

  .items-button {
    align-self: flex-end;
  }
}
