:host {
  padding: 15px 10px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  background-color: white;
}

.task-name {
  margin-left: 15px;
  flex: 1 1 auto;
}

.task-name-span {
  display: inline-block;
  padding: 22.25px 0;
  font-size: 16pt;
}

.mat-form-field {
  max-width: 100%;
  width: 100%;
}

.mat-input-element {
  font-size: 16pt;
}
