<mat-checkbox [checked]="task.isFinished" (change)="changeTaskStatus()">
</mat-checkbox>

<div class="task-name">
  <span class="task-name-span" *ngIf="!isEditing">{{ task.name }}</span>
  <mat-form-field *ngIf="isEditing">
    <input #nameInput placeholder="Введите задачу" matInput [value]="task.name" (keyup.enter)="changeTaskName(nameInput.value)" />
  </mat-form-field>
</div>

<!-- <div>{{ holdingProgress }}</div> -->

<div class="task-edit-actions" *ngIf="isEditing">
  <button mat-icon-button (click)="changeTaskName(nameInput.nativeElement.value)">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-icon-button (click)="changeMode(false)">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<button mat-icon-button [matMenuTriggerFor]="contextMenu" *ngIf="!isEditing">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #contextMenu="matMenu">
  <button mat-menu-item (click)="changeMode(true)">
    <mat-icon>edit</mat-icon>
    <span>Change task</span>
  </button>
  <button mat-menu-item (click)="deleteTask()">
    <mat-icon>delete</mat-icon>
    <span>Delete task</span>
  </button>
</mat-menu>
