:host {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;

  .mat-button-toggle-group:first-child {
    margin-right: 20px;
  }

  ::ng-deep {
    .mat-button-toggle-label-content {
      line-height: 32px !important;
    }

    .mat-button-toggle {
      background-color: #f59f40 !important;
    }

    .mat-button-toggle-checked {
      background-color: #f36b37 !important;
    }
  }
}

.sort-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.btn-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  :host {
    ::ng-deep {
      .filter-group.mat-button-toggle-group {
        flex-direction: column;

        button {
          text-align: left !important;
        }
      }
    }
  }

  .sort-section {
    flex-direction: column;
    align-items: flex-start;
  }
}
