<h2 mat-dialog-title>{{ data.caption }}</h2>

<div mat-dialog-content *ngIf="itemsCount > 0">
  <mat-list>
    <mat-list-item *ngFor="let item of items | async; let odd = odd" [class.lightgray-back]="odd">
      <button mat-icon-button (click)="deleteItem(item.id)">
        <mat-icon>clear</mat-icon>
      </button>
      <h3 mat-line>{{ item.name }}</h3>
      <p mat-line>{{ item.timestamp | date : 'MMM d' }}</p>
      <a mat-line *ngIf="item.attachmentUrl" [href]="item.attachmentUrl" target="_blank">Show Attachment</a>
    </mat-list-item>
  </mat-list>
</div>

<div mat-dialog-content *ngIf="!itemsCount">
  <div class="center-text gray-text"><i>There's no {{ data.itemsType }}</i></div>
</div>


<div mat-dialog-actions>
  <button mat-button style="width: 100%" (click)="openNameGetter()">Add</button>
  <button mat-raised-button (click)="close()" style="margin-top: 10px">Close</button>
</div>
