.new-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.list-item {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.list-item-caption {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.list-item-caption-header {
  font-size: 14pt;
  margin-bottom: 10px;
}

.list-item-caption-date {
  color: #666;
  font-size: 11pt;
}

.list-item-actions {
  margin-right: 15px;
}

.mat-dialog-content {
  min-height: 250px;
}

.mat-dialog-actions {
  display: flex;
  flex-direction: row-reverse;
}

.mat-form-field {
  width: 90%;
}

.center-text {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gray-text {
  color: gray;
}
