<h2 mat-dialog-title>{{ data.caption }}</h2>

<div mat-dialog-content *ngIf="items$ | async as items; else noItems">
  <div class="list-item" *ngFor="let item of items; let odd = odd" [class.lightgray-back]="odd">
    <span class="list-item-caption">
      <div class="list-item-caption-header">{{ item.name }}</div>
      <div class="list-item-caption-date">{{ item.timestamp | date : 'MMM d' }}</div>
    </span>
    <span class="list-item-actions">
      <button *ngIf="item.attachmentUrl" mat-icon-button (click)="showPhoto(item.attachmentUrl)"><mat-icon>photo</mat-icon></button>
      <button mat-icon-button (click)="deleteItem(item.id)">
        <mat-icon>clear</mat-icon>
      </button>
    </span>
  </div>
</div>

<ng-template #noItems>
  <div mat-dialog-content>
    <div class="center-text gray-text"><i>There's no {{ data.itemsType }}</i></div>
  </div>
</ng-template>


<div mat-dialog-actions>
  <button mat-button style="width: 100%" (click)="openNameGetter()">Add</button>
  <button mat-raised-button (click)="close()" style="margin-top: 10px">Close</button>
</div>
