.new-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.mat-dialog-content {
  min-height: 250px;
}

.mat-dialog-actions {
  display: flex;
  flex-direction: row-reverse;
}

.mat-form-field {
  width: 90%;
}

.center-text {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gray-text {
  color: gray;
}
