<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput #nameInput cdkFocusInitial placeholder="Name" />
  </mat-form-field>
  <input type="file" style="display: none" accept="image/*" (change)="picIsPicked($event)" #fileInput/>
</div>
<div mat-dialog-actions>
  <button mat-button color="accent" class="attach-button" (click)="fileInput.click()">{{ hasAttachedPic ? selectedPic.name : 'Attach Pic' }}</button>
  <span class="space-creator"></span>
  <button mat-button color="primary" (click)="close(nameInput.value)">OK</button>
  <button mat-button [mat-dialog-close] color="warn">Cancel</button>
</div>
