.mat-form-field {
  width: 100%;
}

.mat-button {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.space-creator {
  flex: 1 1 auto;
}

.attachment-container {
  display: inline-block;
  position: relative;
  min-width: 80px;
  height: 80px;
  position: relative;
}

.clear-btn {
  position: absolute;
  right: -50%;
  top: 25%;
}

.pic {
  z-index: 0;
  height: 100%;
}

.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
