/* You can add global styles to this file, and also import other style files */
@import './material.theme.scss';
@import '~angular-notifier/styles.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  background-color: mat-color($app-primary);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.black-back {
  background-color: rgba(0, 0, 0, 0.8);
}

.lightgray-back {
  background-color: #efefef;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
